.project
.settings
.idea
*.swp

# Assembly artifacts
sample/assembly/hello_asm/hello_asm
sample/assembly/correct_asm/correct_asm
sample/assembly/asm_c_call/asm_c_call
sample/assembly/**/*.o
sample/assembly/**/*.lst
