<h1>Text Corrector</h1>
<h6>Now with an even more backend feeling UI!</h6>

<div>
  <label>un-corrected text:</label>
  <textarea id="uncorrected_text" name="text" value="">
    correct this text.  plz.  ok, cool. This will work.
  </textarea>

  <button onclick="correctText_onClick();">Correct Text</button>
</div>

<div>
  <label>corrected text:</label>
  <textarea id="corrected_text" name="text" value="">

  </textarea>
</div>

<pre id="diff_display"></pre>

<blink>
  CSS 100% compatible with IE5!
</blink>
